<link rel="stylesheet" href="/stylesheets/anime.css">

{{#if anime.bannerImage}}
    <header class="banner" style="background-image: url({{anime.bannerImage}})">
    </header>
{{/if}}

<main>
    <section class="main-info">
        <div class="container">
            <div {{#if anime.bannerImage}} class="overlap" {{else}} class="no-overlap" {{/if}}>
                <div class="cover" style="background-image: url({{anime.coverImage.large}})">
                </div>

                <div id="list-activity">
                    <div class="ui huge teal buttons">
                        <div class="ui huge button">Catalog options</div>
                        <div class="ui dropdown icon button">
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                {{#if currentUser}}

                                    {{#if onToWatchList}}
                                        <a class="item" href="/{{currentUser}}/lists/remove?userList=toWatch&animeList=toBeWatchedBy&id={{anime.externalId}}">
                                            Remove from Planning List</a>
                                    {{else}}
                                        <a class="item" href="/{{currentUser}}/lists/add?userList=toWatch&animeList=toBeWatchedBy&id={{anime.externalId}}">
                                            Add to Planning List
                                        </a>
                                    {{/if}}
                                    
                    
                                    {{#if onWatchingList}}
                                    <a class="item" href="/{{currentUser}}/lists/remove?userList=watching&animeList=beingWatchedBy&id={{anime.externalId}}">Remove from Watching list</a>
                                    {{else}}
                                    <a class="item" href="/{{currentUser}}/lists/add?userList=watching&animeList=beingWatchedBy&id={{anime.externalId}}">Add to Watching list</a>
                                    {{/if}}
                                    
                                    {{#if onWatchedList}}
                                    <a class="item" href="/{{currentUser}}/lists/remove?userList=watched&animeList=watchedBy&id={{anime.externalId}}">Remove from Watched List</a>
                                    {{else}}
                                    <a class="item" href="/{{currentUser}}/lists/add?userList=watched&animeList=watchedBy&id={{anime.externalId}}">Add to Watched List</a>
                                    {{/if}}
                                    
                                    
                                    {{#if onFavoritesList}}
                                    <a class="item" href="/{{currentUser}}/lists/remove?userList=favorites&animeList=favoriteOf&id={{anime.externalId}}">Remove from Favorites List</a>
                                    {{else}}
                                    <a class="item" href="/{{currentUser}}/lists/add?userList=favorites&animeList=favoriteOf&id={{anime.externalId}}">Add to Favorites List</a>
                                    {{/if}}

                                {{else}}

                                    <div class="ui error message">
                                        {{!-- <div class="header">Permision denied</div> --}}
                                        <p>You must log in to access this options.</p>
                                    </div>

                                {{/if}}

                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
            <div class="description">
                <div class="text">
                    <div class="header">
                        <h1>{{#if anime.title.english}} {{anime.title.english}} {{else}} {{anime.title.romaji}} {{/if}}</h1>
                        <div class="genres">
                            {{#each anime.genres}}
                                <span class="ui small green button">{{this}}</span>
                            {{/each}}
                        </div>
                    </div>
                    
                   {{{anime.description}}}
                </div>
            </div>
        </div>
    </section>

    <section class="aditional-info">
        <div class="container">
            <div class="details">
                <div class="detail">
                    <h6>Format</h6>
                    <span>{{anime.format}}</span>
                </div>
                <div class="detail">
                    <h6>Episodes</h6>
                    <span>{{anime.episodes}}</span>
                </div>
                <div class="detail">
                    <h6>Episodes duration</h6>
                    <span>{{anime.duration}}</span>
                </div>
                <div class="detail">
                    <h6>Status</h6>
                    <span>{{anime.status}}</span>
                </div>
                <div class="detail">
                    <h6>Start date</h6>
                    <span>{{anime.startDate.month}}/{{anime.startDate.day}}/{{anime.startDate.year}}</span>
                </div>
                <div class="detail">
                    <h6>End date</h6>
                    <span>{{anime.endDate.month}}/{{anime.endDate.day}}/{{anime.endDate.year}}</span>
                </div>
                <div class="detail">
                    <h6>Season</h6>
                    <span>{{anime.season}}</span>
                </div>
                <div class="detail">
                    <h6>Average Score</h6>
                    <span>{{anime.averageScore}}</span>
                </div>
                <div class="detail">
                    <h6>Romaji</h6>
                    <span>{{anime.title.romaji}}</span>
                </div>
                <div class="detail">
                    <h6>Native</h6>
                    <span>{{anime.title.native}}</span>
                </div>
                <div class="detail">
                    <h6>Source</h6>
                    <span>{{anime.source}}</span>
                </div>
                {{#if anime.synonyms}}
                    <div class="detail synonyms">
                        <h6>Synonyms</h6>
                        {{#each anime.synonyms}}
                            <span>{{this}}</span>
                        {{/each}}
                {{/if}}
                </div>
            </div>

        </div>

        <div class="container">
            {{#if anime.tags}}
                <div class="tags">
                    <h2>Tropes</h2>
                    <div class="general">
                        {{#each anime.generalTags}}
                            <span class="ui small blue button">{{this}}</span>
                        {{/each}}
                    </div>
                    {{#if anime.spoilerTags}}
                        <button class="ui small red basic button" id="show-spoilers">Show spoiler tropes</button>
                        <div class="spoilerTags hidden">
                            {{#each anime.spoilerTags}}
                                <span class="ui small red button">{{this}}</span>
                            {{/each}}
                        </div>
                    {{/if}}
                </div>

            {{/if}}

            {{#if anime.trailer}}
                <div class="media">
                    <div class="trailer">
                        <h2>Trailer</h2>
                            <iframe width="420" height="315"
                                src="{{anime.trailer}}" allowfullscreen> 
                            </iframe>                    
                    </div>
                </div>
            {{/if}}

        </div>

        <div class="relations">
            <div class="creation ui cards">
                {{#if anime.creation}}
                    <div class="card">
                        <div class="content">
                            <div class="meta">Creation</div>
                            {{#each anime.creation}}
                                <div class="header">{{this}}</div>
                            {{/each}}    
                        </div>
                    </div>
                {{/if}}

                {{#if anime.direction}}
                    <div class="card">
                        <div class="content">
                            <div class="meta">Direction</div>
                            {{#each anime.direction}}
                                <div class="header">{{this}}</div>
                            {{/each}}    
                        </div>
                    </div>

                {{/if}}
                
                <div class="card">
                    <div class="content">
                        <div class="meta">Studio</div>
                            <div class="header">{{anime.studio}}</div>
                    </div>
                </div>
            </div>

            <div class="related-media">

            </div>




        </div>
    </section>
</main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js"></script>
    <script src="/scripts/anime/details.js"></script>